# Application
outpout/
config/config1.ini
config/config2.ini
config/config3.ini
config/config4.ini
config/config5.ini

# Byte-compiled / optimized / DLL files
__pycache__/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
